<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('__externallink.ejs')%>
</head>
<!-- body -->

<body class="main-layout">

    <%- include('__header1.ejs')%>

        <div id="project" class="project" style="margin-bottom: 5vh;margin-top: 5vh;">
            <div style="text-align: center;box-shadow: 2px 2px 2px 4px;width:60%;margin-left: 16vw;margin-bottom: 3vh;">
                <h1>My-Orders</h1>
            </div>
            <div class="container">

                <table class="table table-striped table-hover table-inverse">
                    <thead>
                        <tr>
                            <th>OrderId</th>
                            <th>Date</th>
                            <th>Bill Amount</th>
                            <th>Contact Person</th>
                            <th>Address</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody            >
                        <%orderHistory.map((order, index)=>{%>
                            <tr>
                                <td><a href="/order/orderIdRouter/<%=order.id%>">
                                        <%=order.id%>
                                    </a></td>
                                <td>
                                    <%=order.date%>
                                </td>
                                <td>
                                    <%=order.billAmount%>
                                </td>
                                <td>
                                    <%=order.contactPerson%>
                                </td>
                                <td>
                                    <%=order.deliveryAddress%>
                                </td>
                                <td>
                                    <%=order.status%>
                                </td>
                            </tr>
                            <%})%>
                    </tbody>
                </table>
            </div>
        </div>
        <%-include('__footer.ejs')%>

            <%-include('__externalscriptlink.ejs')%>
</body>

</html>